<div class="container-fluid">
    <h3><i class="fa fa-credit-card"></i> {{ 'permission.shared.title' | translate }}</h3>

    <loader [hidden]="!PageLoading"></loader>

    <section class="editor-section" *ngIf="!PageLoading">
        <form role="form" [formGroup]="editorForm">
            <div class="row">
                <!--code-->
                <!-- <div *ngIf="editorMode != editorModeEnum.add" class="form-group col-lg-2">
                        <label>{{ 'donation.code' | translate }} </label>
                        <label class="form-control">{{editorForm.controls['code'].value}}</label>
                    </div> -->

                <!--code-->
                <div class="form-group col-md-2">
                    <label>{{ 'permission.shared.code' | translate }}
                        <i *ngIf="editorMode == editorModeEnum.add" class="text-danger">*</i>
                    </label>
                    <div class="detail w-100">
                        <input type="text" *ngIf="editorMode == editorModeEnum.add" 
                        min="0" class="form-control" #code formControlName="code">

                        <label *ngIf="editorMode != editorModeEnum.add"
                            class="form-control">{{itemModel?.code}}</label>

                        <div class="text-danger" *ngIf="(editorForm.controls['code'].hasError('invalid' ) || 
                                        editorForm.controls['code'].hasError('required' ) )&&
                                       (editorForm.controls['code'].touched || 
                                        editorForm.controls['code'].dirty)">
                            {{ 'movements.fieldReq' | translate }}
                        </div>
                    </div>
                </div>

                <!--date-->
                <!-- <div class="form-group col-md-2">
                        <label>{{ 'permission.shared.date' | translate }}
                            <i *ngIf="canEdit()" class="text-danger">*</i>
                        </label>
                        <input *ngIf="editorMode != editorModeEnum.detail" type="text" [disabled]="!canEdit()"
                            placeholder="Datepicker" class="form-control" formControlName="date"
                            [ngClass]="{'border border-danger' :  editorForm.controls['date'].invalid && editorForm.controls['date'].touched}"
                            bsDatepicker>
    
                        <label *ngIf="editorMode == editorModeEnum.detail"
                            class="form-control">{{itemModel?.date | date:'yyyy-MM-dd'}}</label>
    
                        <div class="text-danger" *ngIf="(editorForm.controls['date'].hasError('invalid' ) || 
                                     editorForm.controls['date'].hasError('required' ) )&&
                                    (editorForm.controls['date'].touched || 
                                     editorForm.controls['date'].dirty)">
                            {{ 'movements.fieldReq' | translate }}
                        </div>
                    </div> -->

                <!--nameAr-->
                <div class="form-group col-md-3">
                    <label>{{ 'permission.editor.nameAr' | translate }}
                        <i *ngIf="canEdit()" class="text-danger">*</i>
                    </label>
                    <div class="detail w-100">
                        <input type="text" *ngIf="canEdit()" min="0" class="form-control" #nameAr
                            formControlName="nameAr">

                        <label *ngIf="editorMode == editorModeEnum.detail"
                            class="form-control">{{itemModel?.nameAr}}</label>

                        <div class="text-danger" *ngIf="(editorForm.controls['nameAr'].hasError('invalid' ) || 
                                        editorForm.controls['nameAr'].hasError('required' ) )&&
                                       (editorForm.controls['nameAr'].touched || 
                                        editorForm.controls['nameAr'].dirty)">
                            {{ 'movements.fieldReq' | translate }}
                        </div>
                    </div>
                </div>

                <!--nameEn-->
                <div class="form-group col-md-3">
                    <label>{{ 'permission.editor.nameEn' | translate }}
                        <span *ngIf="canEdit()" class="text-danger">*</span>
                    </label>
                    <div class="detail w-100">
                        <input type="text" *ngIf="canEdit()" min="0" class="form-control" #nameEn
                            formControlName="nameEn">

                        <label *ngIf="editorMode == editorModeEnum.detail"
                            class="form-control">{{itemModel?.nameEn}}</label>

                        <div class="text-danger" *ngIf="(editorForm.controls['nameEn'].hasError('invalid' ) || 
                                        editorForm.controls['nameEn'].hasError('required' ) )&&
                                       (editorForm.controls['nameEn'].touched || 
                                        editorForm.controls['nameEn'].dirty)">
                            {{ 'movements.fieldReq' | translate }}
                        </div>
                    </div>
                </div>

                <!--isActive-->
                <div class="form-group col-lg-2">
                    <label>{{ ' ' }}</label>
                    <div class="detail w-100">
                        <input *ngIf="editorMode == editorModeEnum.add" type="checkbox" id="isActive" formControlName="isActive"
                            class="form-control checkbox-inline">
 
                        <input *ngIf="editorMode != editorModeEnum.add" type="checkbox" id="isActive" formControlName="isActive"
                            disabled="disabled" class="form-control checkbox-inline">
                        <label for="isActive">{{ 'permission.shared.isActive' | translate }}</label>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>
                                    {{ 'permission.shared.description' | translate }}
                                </span>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>{{ 'permission.editor.descriptionAr' | translate }} 
                                        <!-- <i class="text-danger">*</i> -->
                                    </label>
                                    <textarea *ngIf="canEdit()" class="form-control" formControlName="descriptionAr"
                                        placeholder="{{ 'permission.editor.descriptionAr' | translate }}"></textarea>

                                    <textarea *ngIf="!canEdit()" disabled class="form-control"
                                        formControlName="descriptionAr"
                                        placeholder="{{ 'permission.editor.descriptionAr' | translate }}"></textarea>

                                    <div class="text-danger" *ngIf=" (editorForm.controls['descriptionAr'].hasError('invalid' ) || 
                                                    editorForm.controls['descriptionAr'].hasError('required' ) )&&
                                                          (editorForm.controls['descriptionAr'].touched || 
                                                          editorForm.controls['descriptionAr'].dirty)">
                                        {{ 'movements.fieldReq' | translate }}
                                    </div>

                                </div>
                                <div class="form-group col-lg-6">
                                    <label>{{ 'permission.editor.descriptionEn' | translate }} </label>
                                    <textarea *ngIf="canEdit()" class="form-control" formControlName="descriptionEn"
                                        placeholder="{{ 'permission.editor.descriptionEn' | translate }}"></textarea>

                                    <textarea *ngIf="!canEdit()" disabled class="form-control"
                                        formControlName="descriptionEn"
                                        placeholder="{{ 'permission.editor.descriptionEn' | translate }}"></textarea>

                                    <div class="text-danger" *ngIf=" (editorForm.controls['descriptionEn'].hasError('invalid' ) || 
                                                        editorForm.controls['descriptionEn'].hasError('required' ) )&&
                                                          (editorForm.controls['descriptionEn'].touched || 
                                                          editorForm.controls['descriptionEn'].dirty)">
                                        {{ 'movements.fieldReq' | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <loader [hidden]="!isProccessing"></loader>

            <div class="row">
                <div class="form-group col-lg-4">
                    <button *ngIf="canEdit()" type="submit" (click)="save()"
                        [disabled]="!editorForm.valid || isProccessing" class="btn btn-secondary">
                        <i class="fa fa-floppy-o verticalLine"></i> {{ 'shared.save' | translate }}
                    </button>
                    &nbsp;
                    <button (click)="goToBack()" class="btn btn-secondary">
                        <i class="fa fa-undo"></i> {{'shared.back' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </section>

</div>