<div class="container-fluid">
    <div class="container-fluid">
        <h3><i class="fa fa-credit-card"></i> {{'setting.shared.title' | translate}}</h3>
    </div>

    <div class="row">
        <!--vat-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h6>{{'setting.vat.vat' | translate}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a routerLink="/setting/vat-editor" class="">
                            {{'setting.vat.title' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--vendor-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h6>{{'setting.vendorSetting.vendor' | translate}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a routerLink="/setting/vendor-editor" class="">
                            {{'setting.vendorSetting.title' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--financial-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h6>{{'setting.financialSetting.financial' | translate}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a routerLink="/setting/financial-editor" class="">
                            {{'setting.financialSetting.title' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--posting-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h6>{{'setting.postingSetting.posting' | translate}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a routerLink="/setting/posting-editor" class="">
                            {{'setting.postingSetting.title' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--systemCurrency-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h6>{{'setting.systemCurrencySetting.title' | translate}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a routerLink="/setting/system-currency-editor" class="">
                            {{'setting.systemCurrencySetting.title' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--fixedAssetAccountChartSetting-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h6>{{'setting.fixedAssetAccountChartSetting.title' | translate}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a routerLink="/setting/fixed-asset-account-chart-setting-editor" class="">
                            {{'setting.fixedAssetAccountChartSetting.title' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--generalSetting-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h6>{{'setting.generalSetting.title' | translate}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a routerLink="/setting/general-setting-editor" class="">
                            {{'setting.generalSetting.title' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
                <!--AccountChartSetting-->
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="text-center">
                                <h6>{{'setting.AccountChartSetting.title' | translate}}</h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <a routerLink="/setting/account-chart-setting-editor" class="">
                                    {{'setting.AccountChartSetting.title' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                   <!--testament and advances-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h6>{{'setting.testamentAndAdvancesSetting.testamentAndAdvances' | translate}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a routerLink="/setting/testament-and-advances-setting-editor" class="">
                            {{'setting.testamentAndAdvancesSetting.title' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>