   
.CostCenterSelect{
    margin-top: -8px !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}
.header-table{
    width: 15%;
}
.header-table-1{
    width: 10%; 
}