<div class="row">
      <form role="form" class="kendo" [formGroup]="searchForm" (ngSubmit)="Search()">
          <div class="row">             
              <div class="form-group col-lg-2 marginright20" >
                <label>{{ 'donation.branch' | translate }}</label><br>
                <kendo-dropdownlist #list [data]="BranchesDropDownData" [filterable]="true" textField="text" valueField="value"
                  [kendoDropDownFilter]="filterSettings" id="Branch" class="kendo" formControlName="Branch" >
                </kendo-dropdownlist>
              </div>
              <div class="form-group col-lg-2">
                  <label>{{ 'shared.fromDate' | translate }}</label>
                  <input type="text" placeholder="Datepicker" class="form-control" formControlName="DateFrom" bsDatepicker>
              </div>
              <div class="form-group col-lg-2">
                <label>{{ 'shared.toDate' | translate }}</label>
                <input type="text" placeholder="Datepicker" class="form-control" formControlName="DateTo" bsDatepicker>
              </div>
              <div class="form-group col-lg-2">
              <label>{{ 'shared.from' | translate }}</label>
              <div class="detail w-100">
                <input type="number" min="0" max="99999999" class="form-control" pattern=".*\S.*" formControlName="AmountFrom"
                 placeholder="{{ 'movements.value' | translate }}">
              </div>
              </div>
              <div class="form-group col-lg-2">
              <label>{{ 'shared.to' | translate }}</label>
              <div class="detail w-100">
                <input type="number" min="0" max="99999999" class="form-control" pattern=".*\S.*" formControlName="AmountTo" 
                  placeholder="{{ 'movements.value' | translate }}">
              </div>
              </div>
              <div class="form-group col-lg-1">
                  <button type="submit" class="btn btn-secondary search">{{ 'shared.search' | translate }}</button>
              </div>
            </div>
      </form>
</div>