.searchclear{
    position: relative;
    top: 9px !important;
    //bottom: 14;
    height: 14px;
    //margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
.searchclearRTL{
    left: 15px;
}
.searchclearLTR{
    left: -15px;
}
.btn-group{
    margin: 0px;
}