<div class="container-fluid">
    <div class="row header">
        <div class="col-md-12">
            <h3>{{ 'assetLocation.shared.title' | translate }}</h3>
        </div>
        <!-- <div class="col-md-2">
            <a routerLink="/asset/asset-location-list/add" 
            class="btn btn-dark btn-block">{{'shared.add' | translate}}</a>
        </div> -->
    </div>

   
    <loader [hidden]="!ListLoading"></loader>
    <kendo-grid [data]="gridView" *ngIf="!ListLoading" [pageSize]="pageSize" [skip]="skip" [scrollable]="'none'"
        [columnMenu]="true" [filter]="state.filter" [filterable]="true" [sortable]="true" [pageable]="true"
        (dataStateChange)="dataStateChange($event)" (pageChange)="pageChange($event)"
        class="kendoGridHeightAndDirection">

        <ng-template  kendoGridToolbarTemplate>
                <div class="row">
                        <div class="col-md-11">
                                <label>{{'shared.display'| translate}}&nbsp;&nbsp;</label>
                                    <kendo-dropdownlist #list [(ngModel)]="pagenationSize" 
                                    (valueChange)="pagenationSizeChange($event)"
                                    [data]="pagenationSizeList" [filterable]="true" 
                                    textField="value" valueField="value"
                                    [kendoDropDownFilter]="filterSettings" class="kendo small-width">
                                </kendo-dropdownlist>
                            </div>
                    <div *ngIf="gridView?.data?.length > 0" class="col-md-1">
                        <button type="button" kendoGridExcelCommand 
                            class="btn-excel"
                            title="{{'shared.exportTo.excel' | translate}}">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        </button>
                        <!-- <button type="button" 
                            class="btn-excel"
                            kendoGridExcelCommand
                            icon="file-excel">{{'shared.exportTo.excel' | translate}}</button> -->
                    </div>
                </div>
            </ng-template>

            <kendo-grid-column media="(max-width: 768px)" title="{{ 'shared.data' | translate }}">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <!-- template for mobile -->
                    <dl>
                        <dt>{{ 'assetLocation.shared.asset' | translate }}</dt>
                        <dd>{{dataItem.asset}}</dd>
          
                        <dt>{{ 'asset.shared.location' | translate }}</dt>
                        <dd>{{dataItem.location}}</dd>
          
                    </dl>
                </ng-template>
            </kendo-grid-column>

        <kendo-grid-column field="asset" 
            title="{{ 'assetLocation.shared.asset' | translate }}" 
            class="width130px" media="md">
            <ng-template kendoGridFilterCellTemplate let-filter>
                <!-- <kendo-dropdownlist #list (valueChange)="assetChange($event)"
                    [(ngModel)]="assetId"
                    [data]="assets" [filterable]="true" textField="brandName" valueField="id"
                    [kendoDropDownFilter]="filterSettings" class="kendo small-width">
                </kendo-dropdownlist> -->
                <drop-down-tree [data]="assets" [textField]="'brandName'" [childrenField]="'childBrands'"  [canEdit]="true" [value]="brandName" (valuechangedOutPutEvent)="brandvalueChange($event)" (expandOutPutEvent)="brandExpand($event)"  class="height38 width-100-per"></drop-down-tree>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="location" title="{{ 'asset.shared.location' | translate }}" class="width130px" media="md">
            <ng-template kendoGridFilterCellTemplate let-filter>
                <!-- <kendo-dropdownlist #list  (valueChange)="locationChange($event)"
                    [(ngModel)]="locationId"
                    [data]="locations" [filterable]="true" textField="displyedName" valueField="id"
                    [kendoDropDownFilter]="filterSettings" class="kendo small-width">
                </kendo-dropdownlist> -->
                <drop-down-tree [data]="locations" [textField]="'displyedName'" [childrenField]="'childLocations'"  [canEdit]="true" [value]="locationName" (valuechangedOutPutEvent)="locationvalueChange($event)" (expandOutPutEvent)="locationExpandOutPutEvent($event)"  class="height38 width-100-per"></drop-down-tree>
            </ng-template>
        </kendo-grid-column>      

        <kendo-grid-column field="" title="" class="width180px" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span>
                    <a routerLink="/asset/asset-location-list/detail/{{dataItem.id}}"><i class="fa fa-eye"></i></a>
                </span>
                &nbsp;
                <span>
                    <a routerLink="/asset/asset-location-list/edit/{{dataItem.id}}"><i class="fa fa-edit"></i></a>
                </span>
                &nbsp;
                
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-excel fileName="Asset Location List.xlsx"></kendo-grid-excel>
    </kendo-grid>
</div>