<div class="container-fluid">
  <h3><i class="fa fa-credit-card"></i> {{ 'movements.inventoryMovement' | translate }}</h3>
  <loader [hidden]="!PageLoading"></loader>
  <section class="editor-section" >
    <form role="form" [formGroup]="modelForm">
      <div class="row">

        <!--documentNumber-->
        <div *ngIf="editorMode != editorModeEnum.add" class="form-group col-lg-2">
          <label>{{ 'banking.shared.code' | translate }}</label>
          <div class="detail w-100">
            <input type="number" min="0" disabled class="form-control" pattern=".*\S.*" formControlName="code">
          </div>
          <div
            *ngIf="(modelForm.controls['code'].touched || modelForm.controls['code'].dirty)&&modelForm.controls['code'].invalid"
            class="text-danger">
            {{ 'movements.fieldReq' | translate }}
          </div>
        </div>

        <!--date-->
        <div class="form-group col-lg-2">
          <label>{{ 'journalEntries.date' | translate }} <i *ngIf="editorMode == editorModeEnum.add"
              class="text-danger">*</i></label>
          <input type="text" placeholder="Datepicker" class="form-control" formControlName="date"
            [attr.disabled]="editorMode  != editorModeEnum.add? '' : null"
            [ngClass]="{'border border-danger' : modelForm.controls['date'].invalid && modelForm.controls['date'].touched}"
            bsDatepicker [minDate]="minDate" [maxDate]="maxDate" readonly
            value="{{modelForm.controls['date'].value |date:'dd/MM/yyyy'}}">
          <div class="text-danger" *ngIf=" (modelForm.controls['date'].hasError('invalid' ) || modelForm.controls['date'].hasError('required' ) )&&
                 (modelForm.controls['date'].touched || modelForm.controls['date'].dirty)">
            {{ 'movements.fieldReq' | translate }}
          </div>
          <div class="text-danger" *ngIf=" (modelForm.controls['date'].hasError('invalid' ) ||
           modelForm.controls['date'].hasError('bsDate' ) )&&
          (modelForm.controls['date'].touched || modelForm.controls['date'].dirty)">
            {{ 'error.maxDateAlert' | translate }}
          </div>
        </div>

        <!--inventory-->
        <div class="form-group col-lg-2">
          <label>{{ 'purchasing.invoice.inventory' | translate }} <span *ngIf="editorMode == editorModeEnum.add"
              class="text-danger">*</span> </label>
          <kendo-dropdownlist #list [data]="inventoryList" [filterable]="true" [textField]="'displyedName'"
            [valueField]="'id'" [valuePrimitive]="true" selected [kendoDropDownFilter]="filterSettings" id="inventoryId"
            [attr.disabled]="editorMode  != editorModeEnum.add? '' : null" class="height38 width-100-per"
            formControlName="inventoryId">
          </kendo-dropdownlist>
          <div class="text-danger" *ngIf=" modelForm.controls['inventoryId'].hasError('required' ) &&
          (modelForm.controls['inventoryId'].touched || modelForm.controls['inventoryId'].dirty)">
            {{ 'movements.fieldReq' | translate }}
          </div>
        </div>

        <!--note number-->
        <div class="form-group col-lg-2">
          <label>{{ 'movements.referenceNumber' | translate }} <span *ngIf="editorMode == editorModeEnum.add"
              class="text-danger">*</span> </label>
          <input type="number" class="form-control" min="0" formControlName="referenceNumber"
            [attr.disabled]="editorMode  == editorModeEnum.detail? '' : null"
            [ngClass]="{'border border-danger' : modelForm.controls['referenceNumber'].invalid && modelForm.controls['referenceNumber'].touched}" />
          <div class="text-danger" *ngIf=" modelForm.controls['referenceNumber'].hasError('required' ) &&
          (modelForm.controls['referenceNumber'].touched || modelForm.controls['referenceNumber'].dirty)">
            {{ 'movements.fieldReq' | translate }}
          </div>
        </div>

        <!--billNumber-->
        <div class="form-group col-lg-2">
          <label>{{ 'movements.billNumber' | translate }} <span *ngIf="editorMode == editorModeEnum.add"
              class="text-danger">*</span> </label>
          <input type="number" class="form-control" min="0" formControlName="billNumber"
            [attr.disabled]="editorMode  == editorModeEnum.detail? '' : null"
            [ngClass]="{'border border-danger' : modelForm.controls['billNumber'].invalid && modelForm.controls['billNumber'].touched}" />
          <div class="text-danger" *ngIf=" modelForm.controls['billNumber'].hasError('required' ) &&
          (modelForm.controls['billNumber'].touched || modelForm.controls['billNumber'].dirty)">
            {{ 'movements.fieldReq' | translate }}
          </div>
        </div>

        <div class="form-group col-lg-2">
          <label>{{ 'financial.vendorName' | translate }} <span *ngIf="editorMode == editorModeEnum.add"
              class="text-danger">*</span> </label>
          <kendo-dropdownlist #list [data]="vendors" [filterable]="true" [textField]="'displyedName'"
            [valueField]="'id'" [valuePrimitive]="true" selected [kendoDropDownFilter]="filterSettings" id="vendorId"
            class="height38 width-100-per" formControlName="vendorId" [disabled]="editorMode != editorModeEnum.add">
          </kendo-dropdownlist>
          <div class="text-danger" *ngIf=" modelForm.controls['vendorId'].hasError('required' ) &&
              (modelForm.controls['vendorId'].touched || modelForm.controls['vendorId'].dirty)">
            {{ 'movements.fieldReq' | translate }}
          </div>
        </div>

        <!--movementType-->
        <div class="form-group col-lg-2">
          <label>{{ 'journalPosting.shared.movementType' | translate }} <span *ngIf="editorMode == editorModeEnum.add"
              class="text-danger">*</span> </label>
          <kendo-dropdownlist #list [data]="movementTypeList" [filterable]="true" [textField]="'name'"
            [valueField]="'id'" [valuePrimitive]="true" selected [kendoDropDownFilter]="filterSettings" id="inventory"
            [disabled]="editorMode != editorModeEnum.add" class="height38 width-100-per"
            formControlName="inventoryMovementTypeId" (valueChange)="movementTypeValueChange($event)">
          </kendo-dropdownlist>
          <div class="text-danger"
            *ngIf=" modelForm.controls['inventoryMovementTypeId'].hasError('required' ) &&
            (modelForm.controls['inventoryMovementTypeId'].touched || modelForm.controls['inventoryMovementTypeId'].dirty)">
            {{ 'movements.fieldReq' | translate }}
          </div>
        </div>

        <!--outgoingType-->
        <div *ngIf="outgoingTypeShow" class="form-group col-lg-2">
          <label>{{ 'inventory.editor.outgoingType' | translate }} <span *ngIf="editorMode == editorModeEnum.add"
              class="text-danger">*</span> </label>
          <kendo-dropdownlist #list [data]="outgoingTypeList" [filterable]="true" [textField]="'name'"
            [valueField]="'id'" [valuePrimitive]="true" selected [kendoDropDownFilter]="filterSettings" id="inventory"
            [disabled]="editorMode != editorModeEnum.add" class="height38 width-100-per"
            formControlName="outgoingTypeId">
          </kendo-dropdownlist>
          <div class="text-danger" *ngIf=" modelForm.controls['outgoingTypeId'].hasError('required' ) &&
              (modelForm.controls['outgoingTypeId'].touched || modelForm.controls['outgoingTypeId'].dirty)">
            {{ 'movements.fieldReq' | translate }}
          </div>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-lg-2 checkbox-col">
          <input *ngIf="editorMode == editorModeEnum.add" type="checkbox" id="multiCostCenter"
            class="form-control checkbox-inline" formControlName="CostCentersCheck"
            (click)="CostCentersCHekedToggle()" />

          <input *ngIf="editorMode != editorModeEnum.add" type="checkbox" id="multiCostCenter"
            class="form-control checkbox-inline" formControlName="CostCentersCheck" disabled />

          <label for="multiCostCenter" class="">
            {{ 'movements.multiCostCenter' | translate }}
            <label [hidden]="!modelForm.controls['CostCentersCheck'].value==true"><a data-backdrop="static"
                data-keyboard="false" data-toggle="modal" data-target="#CostCentersModal"> <i class="fa fa-info-circle"
                  title=" {{'costCenter.costcenters' | translate}}"></i> </a></label>
          </label>
          <!--CostCenters Modal -->
          <button type="button" id="openCostCentersModalBTN" [hidden]="true" data-backdrop="static" data-keyboard="false"
            data-toggle="modal" data-target="#CostCentersModal"></button>
          <div class="modal fade" id="CostCentersModal" data-backdrop="static" data-keyboard="false" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> {{ 'movements.multiCostCenter' | translate }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- <app-store-cost-center (costCentersListChanged)="addCostCenters($event)"></app-store-cost-center> -->

                  <app-add-cost-center [DetailsCostCenters]="DetailsCostCenters" [EditeCostCenters]="EditeCostCenters"
                    [IsInventory]="true" (costCentersListChanged)="addCostCenters($event)">
                  </app-add-cost-center>
                </div>
              </div>
            </div>
          </div>
          <!--End Cost Centers Modal-->
        </div>

        <!--one cost Center-->
        <div class="form-group col-lg-2  checkbox-col" *ngIf="editorMode  == editorModeEnum.add">
          <input type="checkbox" id="onecostCenter" class="form-control checkbox-inline"
            formControlName="OneCostCenterCheck" #onCostCenterCheck
            (click)="OneCostCenterCHekedToggle(onCostCenterCheck)" />

          <label for="onecostCenter" class="">
            {{ 'movements.costCenter' | translate }}
          </label>
          <!--Check Box one CostCenter Modal -->
        </div>

        <div class="form-group col-lg-2" *ngIf="editorMode  == editorModeEnum.add" [hidden]="!IsOneCostCenterChecked">
          <label>{{ 'movements.costCenterName' | translate }} <i class="text-danger">*</i> </label><br>
          <!--*ngIf="isBranchedLoaded"-->
          <kendo-dropdownlist #list [data]="CostCenterDropDown" [filterable]="true" textField="text" valueField="value"
            [kendoDropDownFilter]="filterSettings" id="CostCenter" formControlName="OnCostCenterValue"
            class="height38 width-100-per" (selectionChange)="onOneCostCenterChanged($event)">
          </kendo-dropdownlist>
          <div class="text-danger" *ngIf=" modelForm.controls['OnCostCenterValue'].hasError('required' ) &&
            (modelForm.controls['OnCostCenterValue'].touched || modelForm.controls['OnCostCenterValue'].dirty)">
            {{ 'movements.fieldReq' | translate }}
          </div>

        </div>


      </div>

      <div class="row">
        <div class="form-group col-lg-6">
          <label>{{ 'movements.statementAr' | translate }} <i class="text-danger">*</i></label>
          <textarea class="form-control" formControlName="descriptionAr"
            [attr.disabled]="editorMode  == editorModeEnum.detail? '' : null"
            placeholder="{{ 'movements.statementAr' | translate }}"></textarea>

          <div class="text-danger" *ngIf=" (modelForm.controls['descriptionAr'].hasError('invalid' ) || modelForm.controls['descriptionAr'].hasError('required' ) )&&
                  (modelForm.controls['descriptionAr'].touched || modelForm.controls['descriptionAr'].dirty)">
            {{ 'movements.fieldReq' | translate }}
          </div>

        </div>
        <div class="form-group col-lg-6">
          <label>{{ 'movements.statementEn' | translate }} </label>
          <textarea class="form-control" formControlName="descriptionEn"
            [attr.disabled]="editorMode  == editorModeEnum.detail? '' : null"
            placeholder="{{ 'movements.statementEn' | translate }}"></textarea>
          <div class="text-danger" *ngIf=" (modelForm.controls['descriptionEn'].hasError('invalid' ) || modelForm.controls['descriptionEn'].hasError('required' ) )&&
                  (modelForm.controls['descriptionEn'].touched || modelForm.controls['descriptionEn'].dirty)">
            {{ 'movements.fieldReq' | translate }}
          </div>
        </div>
      </div>

      <div class="row">

        <!--End one Cost Center-->
      </div>

      <div class="row">
        <div class="col-lg-12">
          <store-product [canEditPrice]="canEditPrice" style="width: 100%" [editId]="editId" [detailId]="detailId" [products]="products"
            (productListChanged)="onProductListChanged($event)"></store-product>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-4">
          <button type="submit" *ngIf="!(editorMode == editorModeEnum.detail)" (click)="submit()"
            [disabled]="!modelForm.valid" class="btn btn-secondary"><i class="fa fa-floppy-o verticalLine"></i>
            {{ 'shared.save' | translate }}
          </button>
          &nbsp;
          <button (click)="goToBack()" class="btn btn-secondary"><i class="fa fa-undo"></i>
            {{'shared.back' | translate }}</button>

        </div>
      </div>
    </form>
  </section>
</div>

<button type="button" id="openPostlBTN" [hidden]="true" data-backdrop="static" data-keyboard="false" data-toggle="modal"
    data-target="#postModal"></button>
<div class="modal fade" id="postModal" data-backdrop="static" data-keyboard="false" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel"> {{ 'movements.multiCostCenter' | translate }}</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <journal-entries-editor [isInventory]="true" (journalValueChange)="journalValueChange($event)"
                    (journalApprove)="journalApprove($event)" (journalReject)="journalReject($event)"
                    *ngIf="journalPreviewShow" [postingStatus]="0" [journalPreview]="journalPreview">
                </journal-entries-editor>

                <!-- <app-add-cost-center [donationValue]="editorForm.controls['Amount'].value"
                    (costCentersListChanged)="addCostCenters($event)" 
                    [DetailsCostCenters]="CostCenters">
                  </app-add-cost-center> -->
            </div>

        </div>
    </div>
</div>