<div class="container-fluid">
    <div class="row header">
        <div class="col-md-10">
            <h3>{{ 'accountChart.accountDocument.title' | translate }}</h3>
        </div>
        <div class="col-md-2">
            <a routerLink="/account-document/add" class="btn btn-dark btn-block">{{'shared.add' | translate}}</a>
        </div>
    </div>


    <loader [hidden]="!ListLoading"></loader>
    <kendo-grid [data]="gridView" *ngIf="!ListLoading" [pageSize]="pageSize" [skip]="skip" [scrollable]="'none'"
        [columnMenu]="true" [filter]="state.filter" [filterable]="true" [sortable]="true" [pageable]="true"
        (dataStateChange)="dataStateChange($event)" (pageChange)="pageChange($event)"
        class="kendoGridHeightAndDirection">

        <ng-template kendoGridToolbarTemplate>
            <div class="row">
                <div class="col-md-11">
                    <label>{{'shared.display'| translate}}&nbsp;&nbsp;</label>
                    <kendo-dropdownlist #list [(ngModel)]="pagenationSize" (valueChange)="pagenationSizeChange($event)"
                        [data]="pagenationSizeList" [filterable]="true" textField="value" valueField="value"
                        [kendoDropDownFilter]="filterSettings" class="kendo small-width">
                    </kendo-dropdownlist>
                </div>
                <div *ngIf="gridView?.data?.length > 0" class="col-md-1">
                    <button type="button" kendoGridExcelCommand class="btn-excel"
                        title="{{'shared.exportTo.excel' | translate}}">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </button>
                    <!-- <button type="button" 
                            class="btn-excel"
                            kendoGridExcelCommand
                            icon="file-excel">{{'shared.exportTo.excel' | translate}}</button> -->
                </div>
            </div>
        </ng-template>


        <!-- <kendo-grid-column field="source" title="{{ 'movements.source' | translate }}"  class="width130px"></kendo-grid-column>
        <kendo-grid-column field="paymentMethod" title="{{ 'movements.paymentMethod' | translate }}"  class="width130px">
            <ng-template kendoGridFilterCellTemplate let-filter>
                <kendo-dropdownlist #list [(ngModel)]="PaymentId"  (valueChange)="paymentChange($event)"
                 [data]="PaymentDropDownData" [filterable]="true"
                 textField="text" valueField="value"
                [kendoDropDownFilter]="filterSettings"  class="kendo small-width"> 
              </kendo-dropdownlist>
            </ng-template>
        </kendo-grid-column> -->
        <kendo-grid-column field="accountChartName" title="{{ 'accountChart.accountDocument.account' | translate }}" class="width130px">
            <ng-template kendoGridFilterCellTemplate let-filter>
                <kendo-dropdownlist #list  (valueChange)="accountChartChange($event)"
                [data]="accountCharts" [filterable]="true" textField="displyedName" 
                [(ngModel)]="accountChartId"
                valueField="value"
                [kendoDropDownFilter]="filterSettings" class="kendo small-width">
            </kendo-dropdownlist>
        </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="" title="" class="width180px" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span>
                    <a routerLink="/account-document/detail/{{dataItem.accountChartId}}"><i class="fa fa-eye"></i></a>
                </span>
                &nbsp;
                <span>
                    <a routerLink="/account-document/edit/{{dataItem.accountChartId}}"><i class="fa fa-edit"></i></a>
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-excel fileName="Account Chart Documents.xlsx"></kendo-grid-excel>
    </kendo-grid>
</div>