<div class="container-fluid">
    <div class="row header">
        <div class="col-md-10">
            <h3>{{ 'movements.payments' | translate }}</h3>
        </div>
        <div class="col-md-2">            
            <a routerLink="/financial/payments-movement" 
            class="btn btn-dark btn-block">{{'shared.add' | translate}}</a>
        </div>
    </div>

    <loader [hidden]="!ListLoading"></loader>
    <kendo-grid [data]="gridView" *ngIf="!ListLoading" [pageSize]="pageSize" [skip]="skip" [scrollable]="'none'"
        [columnMenu]="true" [filter]="state.filter" [filterable]="true" [sortable]="true" [pageable]="true"
        (dataStateChange)="dataStateChange($event)" (pageChange)="pageChange($event)"
        class="kendoGridHeightAndDirection">

        <ng-template  kendoGridToolbarTemplate>
                <div class="row">
                        <div class="col-md-11">
                                <label>{{'shared.display'| translate}}&nbsp;&nbsp;</label>
                                    <kendo-dropdownlist #list [(ngModel)]="pagenationSize" 
                                    (valueChange)="pagenationSizeChange($event)"
                                    [data]="pagenationSizeList" [filterable]="true" 
                                    textField="value" valueField="value"
                                    [kendoDropDownFilter]="filterSettings" class="kendo small-width">
                                </kendo-dropdownlist>
                            </div>
                    <div *ngIf="gridView?.data?.length > 0" class="col-md-1">
                        <button type="button" kendoGridExcelCommand 
                            class="btn-excel"
                            title="{{'shared.exportTo.excel' | translate}}">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        </button>
                        <!-- <button type="button" 
                            class="btn-excel"
                            kendoGridExcelCommand
                            icon="file-excel">{{'shared.exportTo.excel' | translate}}</button> -->
                    </div>
                </div>
            </ng-template>

            <kendo-grid-column media="(max-width: 768px)" title="{{ 'shared.data' | translate }}">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <!-- template for mobile -->
                    <dl>
                        <dt>{{ 'donation.code' | translate }}</dt>
                        <dd>{{dataItem.code}}</dd>
    
                        <dt>{{ 'donation.branch' | translate }}</dt>
                        <dd>{{dataItem.branch}}</dd>
    
                        <dt>{{ 'movements.source' | translate }}</dt>
                        <dd>{{dataItem.source}}</dd>
    
                        <dt>{{ 'movements.paymentMethod' | translate }}</dt>
                        <dd>{{dataItem.paymentMethod}}</dd>
    
                        <dt>{{ 'movements.value' | translate }}</dt>
                        <dd>{{dataItem.amount}}</dd>
    
                        <dt>{{ 'movements.dateDocument' | translate }}</dt>
                        <dd>{{dataItem.date | date: 'mediumDate'}}</dd>
                    </dl>
                </ng-template>
            </kendo-grid-column>
        
        <kendo-grid-column field="code" title="{{ 'donation.code' | translate }}" class="width130px" media="md">
        </kendo-grid-column>

        <kendo-grid-column field="branch" title="{{ 'donation.branch' | translate }}" class="width130px" media="md">
            <ng-template kendoGridFilterCellTemplate let-filter>
                <kendo-dropdownlist #list [(ngModel)]="branchId" (valueChange)="branchChange($event)"
                    [data]="BranchesDropDownData" [filterable]="true" textField="text" valueField="value"
                    [kendoDropDownFilter]="filterSettings" class="kendo small-width">
                </kendo-dropdownlist>
            </ng-template>
        </kendo-grid-column>       

        <kendo-grid-column field="source" title="{{ 'movements.source' | translate }}" class="width130px" media="md">
        </kendo-grid-column>
        <kendo-grid-column field="paymentMethod" title="{{ 'movements.paymentMethod' | translate }}" class="width130px" media="md">
            <ng-template kendoGridFilterCellTemplate let-filter>
                <kendo-dropdownlist #list [(ngModel)]="PaymentId" (valueChange)="paymentChange($event)"
                    [data]="PaymentDropDownData" [filterable]="true" textField="text" valueField="value"
                    [kendoDropDownFilter]="filterSettings" class="kendo small-width">
                </kendo-dropdownlist>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="amount" title="{{ 'movements.value' | translate }}" class="width130px" media="md">
        </kendo-grid-column>
        <kendo-grid-column field="date" id="dateFilter" title="{{ 'movements.dateDocument' | translate }}"
            class="width130px" filter="date" format="{0:MM/dd/yyyy}" media="md">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.date | date: 'mediumDate'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="" title="" class="width180px" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <!-- Large modal -->
                <a routerLink="/financial/payments-movement/detail/{{dataItem.id}}"><i class="fa fa-eye"></i></a>
                &nbsp;
                <a routerLink="/financial/payments-movement/edit/{{dataItem.id}}"><i class="fa fa-edit"></i></a>

            </ng-template>
        </kendo-grid-column>

        <kendo-grid-excel fileName="Movement Payment List.xlsx"></kendo-grid-excel>

    </kendo-grid>
</div>