.checkbox-inline{
    margin-top: 39px;
}
section{
    box-shadow: black 0px 0px 1px 0px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
}
.radio-inline{
    margin: 20px;
    margin-left: 0;
}
button{
    margin-top: 31px;
    margin-right: 2px;
}
.action{
    background: transparent;
    margin-top: -7px;

}

.modal-dialog {
    max-width: 750px !important;
    margin: 1.75rem auto;
}