//.checkbox-inline {}

// section {
//     box-shadow: black 0px 0px 1px 0px;
//     padding: 20px;
//     border-radius: 15px;
//     margin-top: 10px;
// }

.radio-inline {
    // margin: 20px;
    margin-left: 0;
}

button {
    margin-top: 31px;
    margin-right: 2px;
}

.action {
    background: transparent;
    margin-top: -7px;
}

.modal-dialog {
    max-width: 750px !important;
    margin: 1.75rem auto;
}

.checkbox-inline input {
    margin: 0 !important;
}


.req-amount{
    min-height: 30px; 
    padding-top:6px;
}
.k-rtl .k-dropdown-wrap .k-clear-value, [dir="rtl"] .k-dropdown-wrap .k-clear-value{
     right: 0px !important; 
     left: 0px !important;
}
.k-rtl .k-autocomplete .k-clear-value, [dir="rtl"] .k-autocomplete .k-clear-value, .k-rtl .k-dropdown-wrap .k-clear-value, [dir="rtl"] .k-dropdown-wrap .k-clear-value, .k-rtl .k-multiselect-wrap .k-clear-value, [dir="rtl"] .k-multiselect-wrap .k-clear-value{
    right: 0px !important; 
    left: 0px !important;
}
